<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blogs</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans antialiased">
    <nav class="bg-gray-800 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold mb-3">AI Blog Generator</h1>
            <p>Made by <a href="https://github.com/Pranay-Builds" target="_blank"
                class="underline">Pranay</a></p>
        </div>
            <a href="#"
            class="text-white hover:text-gray-300 hover:underline text-1xl">Logout</a>
     </nav>

     <!-- Main Content Container -->
      <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto p-6 bg-white rounded-lg shadow-md">

            <section>
                <h2 class="text-2xl mb-4 font-semibold text-center">Your Blog Posts</h2>
                <div class="space-y-4 mb-3">
                    <div class="border border-gray-300 p-3 rounded-lg">
                        <h3 class="text-center text-2xl font-semibold">Blog Post Title 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse soluta enim eius quibusdam aliquam odio nihil accusantium repudiandae, architecto, explicabo optio ad saepe quo omnis eum quod nemo illo dignissimos autem, atque porro tempore molestiae! Consequatur, dolorum perferendis maiores consequuntur placeat beatae veniam quia quibusdam dolores suscipit dicta esse minus?</p>
                    </div>
                </div>
                <div class="space-y-4 mb-3">
                    <div class="border border-gray-300 p-3 rounded-lg">
                        <h3 class="text-center text-2xl font-semibold">Blog Post Title 1</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse soluta enim eius quibusdam aliquam odio nihil accusantium repudiandae, architecto, explicabo optio ad saepe quo omnis eum quod nemo illo dignissimos autem, atque porro tempore molestiae! Consequatur, dolorum perferendis maiores consequuntur placeat beatae veniam quia quibusdam dolores suscipit dicta esse minus?</p>
                    </div>
                </div>
            </section>
        </div>
      </div>

      <footer class="text-center p-4 text-blaxk mt-6">
        Made by <a href="https://www.github.com/Pranay-Builds" target="_blank"
        class="hover:text-gray-700 underline">Pranay</a>
    </footer>
</body>
</html>