<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Blogs</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans antialiased">
    <nav class="bg-gray-800 p-4 text-white flex justify-between">
        <div>
            <h1 class="text-3xl font-bold mb-3">AI Blog Generator</h1>
        </div>
        <div>
            <a href="/logout"
            class="text-white hover:text-gray-300 hover:underline text-1xl">Logout</a>
            <a href="/" class="text-white hover:text-gray-300 hover:underline text-1xl">Home</a>
        </div>
     </nav>

     <!-- Main Content Container -->
      <div class="container mx-auto mt-10 px-4 sm:px-0">
        <div class="max-w-3xl mx-auto p-6 bg-white rounded-lg shadow-md">
            <section>
                <h2 class="text-2xl mb-4 font-semibold text-center">Your Blog Posts</h2>
                <p class="text-2xl mb-4 font-semibold text-center">Click on one of the blog posts to view details</p>
                {% for blog in blog_articles reversed %}
                <a href="blog-details/{{blog.id}}">
                    <div class="space-y-4 mb-3">
                        <div class="border border-gray-300 p-3 rounded-lg">
                            <h3 class="text-center text-2xl font-semibold">{{blog.title}}</h3>
                            <a href="{{blog.link}}" target="_blank" class="text-center mb-2 text-blue">{{blog.link}}</a>
                            <p>{{blog.content|truncatechars:80}}</p>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </section>
        </div>
      </div>

      <footer class="text-center p-4 text-blaxk mt-6">
        Made by <a href="https://www.github.com/Pranay-Builds" target="_blank"
        class="hover:text-gray-700 underline">Pranay</a>
    </footer>
</body>
</html>